
// variable overrides go here:
$header-font-family: "";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/utilities";

.layout-left-aside {
    @extend .row;

    div:first-child {
        @extend .col-lg-2;
        @extend .col-sm;
    }
    div:last-child {
        @extend .col-lg-8;
        @extend .col-sm;
        min-width: 300px;
    }
}

fieldset {
    margin: 0px;
    padding: 0px;
    display: block;
    
    flex: 0 0 100%;
    background: red;
}

form {
    flex: 0 0 100%;
    background: blue;
    ul {
    
        background: #ccc;
        padding: 0;
        margin: 0;
        //display: flex;
        flex: 0 0 100%;

        li {
           display: block;
           list-style-type: none;
           clear: both;
           background: #ddd;
           padding: 0px;
           
           @extend .form-group;
           margin: 0px 0px 10px 10px; 
        }

        li.check {
            @extend .form-check;
            label {
                @extend .form-check-label;
            }
        }
    }

    input[type=text],
    input[type=date],
    input[type=time],
    input[type=url]  {
        @extend .form-control;
    }
}

form.horizontal {
    ul {
        li {
            @extend .row;
            margin: 0px 0px 10px 0px;
            label:first-child {
                @extend .col-sm-2;
            }

            input[type=text],
            input[type=date],
            input[type=time],
            input[type=url] {
                @extend .col-sm-9;
            }
        }

        li.actions {
            @extend .justify-content-end;
            display: flex;
            align-items: right;

            input, button {
                @extend .align-self-end;
            }
        }

        li.check {
            @extend .form-check;
            @extend .row;
            margin: 0px;
            margin: 0px 0px 10px 0px;
           
            label:first-child {
                @extend .col-sm-2;
                margin-left: -20px;
                padding: 0px 15px 5px;
            }

            label {
                @extend .form-check-label;
            }
        }
    }
}



